@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: rgb(213, 224, 232);
    --main-fg-color: rgb(30, 30, 32);

    --sec--bg-color: rgb(204, 219, 242);
    --sec--fg-color: rgb(59, 60, 61);

    --card-bg-color: rgb(255, 255, 255);
    --card-fg-color: rgb(61, 62, 67);

    --accent-color: lightblue;

    --material-0: #FFCDD2;
    --material-1: #BBDEFB;
    --material-2: #C8E6C9;
    --material-3: #FFE0B2;
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: ease-in-out 0.5s;
    scroll-behavior: smooth;
    color: var(--main-fg-color);
}

body {
    color: var(--main-bg-color);
}

.card {
    padding: 1rem;
    background-color: var(--card-bg-color);
    color: var(--card-fg-color);
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 0.1rem rgb(89, 88, 88));
}

.card_0 {
    background-color: var(--material-0);
}
.card_1 {
    background-color: var(--material-1);
}
.card_2 {
    background-color: var(--material-2);
}
.card_3 {
    background-color: var(--material-3);
}

h1{
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
}
h2{
    font-size: 2rem;
    font-weight: 700;
}
h3{
    font-size: 1.8rem;
    font-weight: 500;
}
h4, a{
    font-size: 1.5rem;
    font-weight: 400;
}

h5{
    font-size: 1.2rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100dvw;
    top: 0;
    padding: 2rem;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
}

nav ul li {
    display: block;
}

nav ul li a {
    padding: 0.5rem;
}

section {
    min-height: 50dvh;
    padding: 3rem 10%;
}

#experience {
    background-color: var(--sec--bg-color);
    border-radius: 5rem 5rem 0 0;
}

#experience>div{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#experience article {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#experience article:hover {
    transform: scale(1.05);
}

#experience article>div {
    display: flex;
    justify-content: space-between;
}

#education {
    display: flex;
    flex-direction: column;
}

#edu_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

#edu_top_left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#edu_top_right {
    border: var(--accent-color) solid 3px;
}

#edu_pic {
    width: 15rem;
    height: 10rem;
    background-image: url("/media/CU.jpg");
    background-size: cover;
    position: relative;
    left: 1rem;
    top: 1rem;
}

#edu_bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#edu_hl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#edu_hl .card { 
    padding: 2rem;
}